################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sampleSeleniumCSharp Tests/FileContentIndex
/.vs/sampleSeleniumCSharp Tests/v17/TestStore/0/003.testlog
